@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans&display=swap');

$white: #fff;
$black: #000;
$primary: #5444da;
$grayDD: #ddd;

$font-family: 'Open Sans', sans-serif;
$secondary-font: 'Amatic SC', cursive;
